.homepage {
  height: 92%;
  width: 100%;
}

.movie-list-title {
  position: absolute;
  font-size: 50px;
  color: #FFF;
  margin-top: -80px;
}

.movie-homepage {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 100px;
}
