.nav {
  height: 60px;
  width: 100%;
  background-color: #FEB40D;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  padding: 1%;
}

.nav-link {
  height: 100%;
  width: 20%;
  text-decoration: none;
  text-align: center;
  background-color: #8E0204;
  color: #FEB40D;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 5%;
  border: 1px solid #8E0204;
  border-bottom-right-radius: 5% 40%;
  border-top-right-radius: 5% 40%;
  border-bottom-left-radius: 5% 40%;
  border-top-left-radius: 5% 40%;
  transition: box-shadow 300ms;
  box-shadow: none;

  &:hover {
      cursor: pointer;
      box-shadow: 0.1rem 0.3rem 0.6rem #202020;
  }
}

#blood-splatter {
  left: 80%;
  height: 180px;
  margin-top: -40px;
  position: absolute;
}

h1 {
  font-size: 1.5em;
  color: #8E0204;
}
